@import 'modules/colors';
@import 'modules/ancloud.miscellaneous';

.wrapper {
	min-height: 100%;
	position: relative;
	overflow: hidden;
	&:before {
		content: " ";
		display: table;
	}
	&:after {
		content: " ";
		display: table;
		clear: both;
	}
}

.layout-boxed {
	.wrapper {
		max-width: 1250px;
		margin: 0 auto;
		min-height: 100%;
		box-shadow: 0 0 8px $black_50;
		position: relative;
	}
	background: linear-gradient(135deg, $slate_gray 22px, $color_pattens_blue_approx 22px, $color_pattens_blue_approx 24px, transparent 24px, transparent 67px, $color_pattens_blue_approx 67px, $color_pattens_blue_approx 69px, transparent 69px), linear-gradient(225deg, $slate_gray 22px, $color_pattens_blue_approx 22px, $color_pattens_blue_approx 24px, transparent 24px, transparent 67px, $color_pattens_blue_approx 67px, $color_pattens_blue_approx 69px, transparent 69px) 0 64px;
	background-color: $slate_gray;
	background-size: 64px 128px;
}

.content-wrapper {
	-webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
	margin-left: 230px;
	z-index: 820;
}

.layout-top-nav {
	.content-wrapper, 
	.right-side {
		margin-left: 0;
	}
}

.none-sidebar {
	.content-wrapper {
		margin-left: 0px;
	}
	margin-left: 0px;
}

@media (max-width: 767px) {
	.content-wrapper, .right-side {
		margin-left: 0;
	}
}

@media (min-width: 768px) {
	.sidebar-collapse {
		.content-wrapper, .right-side {
			margin-left: 0;
		}
	}
}

@media (max-width: 767px) {
	.sidebar-open {
		.content-wrapper, .right-side {
			-webkit-transform: translate(230px, 0);
			-ms-transform: translate(230px, 0);
			-o-transform: translate(230px, 0);
			transform: translate(230px, 0);
		}
	}
}

.content-wrapper, .right-side {
	min-height: 100%;
	background-color: $white;
	z-index: 800;
}

/* Fixed layout */

.fixed {
	.main-header, .main-sidebar, .left-side {
		position: fixed;
	}
	.main-header {
		top: 0;
		right: 0;
		left: 0;
	}
	.content-wrapper, .right-side {
		padding-top: 50px;
	}
	&.layout-boxed .wrapper {
		max-width: 100%;
	}
}

@media (max-width: 767px) {
	.fixed {
		.content-wrapper, .right-side {
			padding-top: 100px;
		}
	}
}

body.hold-transition {
	.content-wrapper, 
	.right-side, 
	.main-sidebar, 
	.left-side {
		/* Fix for IE */
		-webkit-transition: none;
		-o-transition: none;
		transition: none;
	}
	.main-header {
		> .navbar, .logo {
			/* Fix for IE */
			-webkit-transition: none;
			-o-transition: none;
			transition: none;
		}
	}
}

/* Content */

.content {
	min-height: 250px;
	padding: 5px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
}

/* General Links */

a {
	color: $color_boston_blue_approx;
	&:hover, &:active, &:focus {
		outline: none;
		text-decoration: none;
		color: $color_glacier_approx;
	}
}

/*
 * Component: Main Header
 * ----------------------
 */

.main-header {
	position: relative;
	max-height: 100px;
	z-index: 1030;
	> .navbar {
		-webkit-transition: margin-left 0.3s ease-in-out;
		-o-transition: margin-left 0.3s ease-in-out;
		transition: margin-left 0.3s ease-in-out;
		margin-bottom: 0;
		margin-left: 230px;
		border: none;
		min-height: 50px;
		border-radius: 0;
	}
}

.layout-top-nav .main-header > .navbar {
	margin-left: 0;
}

.main-header {
	#navbar-search-input.form-control {
		background: $white_20;
		border-color: transparent;
		&:focus, &:active {
			border-color: $black_10;
			background: $white_90;
		}
		&::-moz-placeholder {
			color: $color_celeste_approx;
			opacity: 1;
		}
		&:-ms-input-placeholder, &::-webkit-input-placeholder {
			color: $color_celeste_approx;
		}
	}
	.navbar-custom-menu, .navbar-right {
		float: right;
	}
	.sidebar-toggle {
		float: left;
		background-color: transparent;
		background-image: none;
		padding: 15px 15px;
		font-size: 20px;
		&:hover {
			color: $white;
		}
		&:focus, &:active {
			background: transparent;
		}
		.icon-bar {
			display: none;
		}
	}
	.navbar .nav > li {
		&.user > a > {
			.fa, .glyphicon, .ion {
				margin-right: 5px;
			}
		}
		> a > .label {
			position: absolute;
			top: 9px;
			right: 7px;
			text-align: center;
			font-size: 9px;
			padding: 2px 3px;
			line-height: .9;
		}
	}
	.logo {
		-webkit-transition: width 0.3s ease-in-out;
		-o-transition: width 0.3s ease-in-out;
		transition: width 0.3s ease-in-out;
		display: block;
		float: left;
		height: 50px;
		font-size: 20px;
		line-height: 50px;
		text-align: center;
		width: 230px;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		padding: 0 15px;
		font-weight: 300;
		overflow: hidden;
		.logo-lg {
			display: block;
		}
		.logo-mini {
			display: none;
		}
	}
	.navbar-brand {
		color: $white;
	}
}

@media (max-width: 991px) {
	.main-header {
		.navbar-custom-menu a, .navbar-right a {
			color: inherit;
			background: transparent;
		}
	}
}

@media (max-width: 767px) {
	.main-header .navbar-right {
		float: none;
	}
	.navbar-collapse .main-header .navbar-right {
		margin: 7.5px -15px;
	}
	.main-header .navbar-right > li {
		color: inherit;
		border: 0;
	}
}

.content-header {
	position: relative;
	padding: 5px 5px 0 10px;
	h1, h2, h3, h4, h5 {
		margin: 0;
	}
}

.content {
	h1, h2, h3, h4, h5 {
		margin: 0;
	}
}

.content-header h1 > small {
	display: inline-block;
	padding-left: 4px;
}

.content-footer {
	background: $white;
	padding: 1px;
	color: $color_tundora_approx;
	border-top: 1px solid $color_mischka_approx;
}

.navbar-toggle {
	color: $white;
	border: 0;
	margin: 0;
	padding: 15px 15px;
}

@media (max-width: 991px) {
	.navbar-custom-menu .navbar-nav {
		> li {
			float: left;
			> a {
				padding-top: 15px;
				padding-bottom: 15px;
				line-height: 20px;
			}
		}
		margin: 0;
		float: left;
	}
}

@media (max-width: 767px) {
	.main-header {
		position: relative;
		.logo {
			width: 100%;
			float: none;
		}
		.navbar {
			width: 100%;
			float: none;
			margin: 0;
		}
		.navbar-custom-menu {
			float: right;
		}
	}
}

@media (max-width: 991px) {
	.navbar-collapse.pull-left {
		float: none !important;
		+ .navbar-custom-menu {
			display: block;
			position: absolute;
			top: 0;
			right: 40px;
		}
	}
}

/*
 * Component: Sidebar
 * ------------------
 */

.main-sidebar, .left-side {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 50px;
	min-height: 100%;
	width: 230px;
	z-index: 810;
	-webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	-o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
	transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

@media (max-width: 767px) {
	.main-sidebar, .left-side {
		padding-top: 100px;
	}
}

@media (max-width: 767px) {
	.main-sidebar, .left-side {
		-webkit-transform: translate(-230px, 0);
		-ms-transform: translate(-230px, 0);
		-o-transform: translate(-230px, 0);
		transform: translate(-230px, 0);
	}
}

@media (min-width: 768px) {
	.sidebar-collapse {
		.main-sidebar, .left-side {
			-webkit-transform: translate(-230px, 0);
			-ms-transform: translate(-230px, 0);
			-o-transform: translate(-230px, 0);
			transform: translate(-230px, 0);
		}
	}
}

@media (max-width: 767px) {
	.sidebar-open {
		.main-sidebar, .left-side {
			-webkit-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			transform: translate(0, 0);
		}
	}
}

.sidebar {
	padding-bottom: 10px;
}

.sidebar-form input:focus {
	border-color: transparent;
}

.sidebar-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	> li {
		position: relative;
		margin: 0;
		padding: 0;
		> a {
			padding: 12px 5px 12px 15px;
			display: block;
			> {
				.fa, .glyphicon, .ion {
					width: 20px;
				}
			}
		}
		.label, .badge {
			margin-top: 3px;
			margin-right: 5px;
		}
	}
	li {
		&.header {
			padding: 10px 25px 10px 15px;
			font-size: 12px;
		}
		> a > .fa-angle-left {
			width: auto;
			height: auto;
			padding: 0;
			margin-right: 10px;
			margin-top: 3px;
		}
		&.active > {
			a > .fa-angle-left {
				-webkit-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				transform: rotate(-90deg);
			}
			.treeview-menu {
				display: block;
			}
		}
	}
	.treeview-menu {
		display: none;
		list-style: none;
		padding: 0;
		margin: 0;
		padding-left: 20px;
		
		.treeview-menu {
			padding-left: 20px;
		}
		
		> li {
			margin: 0;
			> a {
				padding: 5px 5px 5px 15px;
				display: block;
				font-size: 14px;
				> {
					.fa, .glyphicon, .ion {
						width: 20px;
					}
					.fa-angle-left, .fa-angle-down {
						width: auto;
					}
				}
			}
		}
	}
	white-space: nowrap;
	overflow: hidden;
}

/*
 * Component: Sidebar Mini
 */
@media (min-width: 768px) {
	.sidebar-mini.sidebar-collapse {
		.content-wrapper, .right-side {
			margin-left: 50px !important;
			z-index: 840;
		}
		.main-sidebar {
			-webkit-transform: translate(0, 0);
			-ms-transform: translate(0, 0);
			-o-transform: translate(0, 0);
			transform: translate(0, 0);
			width: 50px !important;
			z-index: 850;
		}
		.sidebar-menu > li {
			position: relative;
			> a {
				margin-right: 0;
				> span {
					border-top-right-radius: 4px;
				}
			}
			&:not(.treeview) > a > span {
				border-bottom-right-radius: 4px;
			}
			> .treeview-menu {
				padding-top: 5px;
				padding-bottom: 5px;
				border-bottom-right-radius: 4px;
			}
			&:hover > {
				a > span:not(.pull-right), .treeview-menu {
					display: block !important;
					position: absolute;
					width: 180px;
					left: 50px;
				}
				a > span {
					top: 0;
					margin-left: -3px;
					padding: 12px 5px 12px 20px;
					background-color: inherit;
				}
				.treeview-menu {
					top: 44px;
					margin-left: 0;
				}
			}
		}
		.main-sidebar .user-panel > .info, .sidebar-form {
			display: none !important;
			-webkit-transform: translateZ(0);
		}
		.sidebar-menu {
			> li > {
				a > span, .treeview-menu, a > .pull-right {
					display: none !important;
					-webkit-transform: translateZ(0);
				}
			}
			li.header {
				display: none !important;
				-webkit-transform: translateZ(0);
			}
		}
		.main-header {
			.logo {
				width: 50px;
				> {
					.logo-mini {
						display: block;
						margin-left: -15px;
						margin-right: -15px;
						font-size: 18px;
					}
					.logo-lg {
						display: none;
					}
				}
			}
			.navbar {
				margin-left: 50px;
			}
		}
	}
}

.main-sidebar .user-panel {
	white-space: nowrap;
	overflow: hidden;
}

.sidebar-menu {
	> li.header {
		white-space: nowrap;
		overflow: hidden;
	}
	&:hover {
		overflow: visible;
	}
}

.sidebar-form {
	overflow: hidden;
	text-overflow: clip;
}

.sidebar-menu {
	> li.header {
		overflow: hidden;
		text-overflow: clip;
	}
	li > a {
		position: relative;
		> .pull-right {
			position: absolute;
			right: 10px;
			top: 50%;
			margin-top: -7px;
		}
	}
}

/*
 * Component: Control sidebar. By default, this is the right sidebar.
 */

.control-sidebar-bg {
	position: fixed;
	z-index: 1000;
	bottom: 0;
	top: 0;
	right: -230px;
	width: 230px;
	-webkit-transition: right 0.3s ease-in-out;
	-o-transition: right 0.3s ease-in-out;
	transition: right 0.3s ease-in-out;
}

.control-sidebar {
	top: 0;
	right: -230px;
	width: 230px;
	-webkit-transition: right 0.3s ease-in-out;
	-o-transition: right 0.3s ease-in-out;
	transition: right 0.3s ease-in-out;
	position: absolute;
	padding-top: 50px;
	z-index: 1010;
	> .tab-content {
		padding: 10px 15px;
	}
	&.control-sidebar-open {
		right: 0;
		+ .control-sidebar-bg {
			right: 0;
		}
	}
}

@media (max-width: 768px) {
	.control-sidebar {
		padding-top: 100px;
	}
}

.control-sidebar-open {
	.control-sidebar-bg, .control-sidebar {
		right: 0;
	}
}

@media (min-width: 768px) {
	.control-sidebar-open {
		.content-wrapper, .right-side {
			margin-right: 230px;
		}
	}
}

.nav-tabs.control-sidebar-tabs > li {
	&:first-of-type > a {
		border-left-width: 0;
		&:hover, &:focus {
			border-left-width: 0;
		}
	}
	> a {
		border-radius: 0;
		border-top: none;
		border-right: none;
		border-left: 1px solid transparent;
		border-bottom: 1px solid transparent;
		&:hover {
			border-top: none;
			border-right: none;
			border-left: 1px solid transparent;
			border-bottom: 1px solid transparent;
		}
		.icon {
			font-size: 16px;
		}
	}
	&.active > a {
		border-top: none;
		border-right: none;
		border-bottom: none;
		&:hover, &:focus, &:active {
			border-top: none;
			border-right: none;
			border-bottom: none;
		}
	}
}

@media (max-width: 768px) {
	.nav-tabs.control-sidebar-tabs {
		display: table;
		> li {
			display: table-cell;
		}
	}
}

.control-sidebar-heading {
	font-weight: 400;
	font-size: 16px;
	padding: 10px 0;
	margin-bottom: 10px;
}

.control-sidebar-subheading {
	display: block;
	font-weight: 400;
	font-size: 14px;
}

.control-sidebar-menu {
	list-style: none;
	padding: 0;
	margin: 0 -15px;
	> li > a {
		display: block;
		padding: 10px 15px;
		&:before {
			content: " ";
			display: table;
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
		> .control-sidebar-subheading {
			margin-top: 0;
		}
	}
	.menu-icon {
		float: left;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		text-align: center;
		line-height: 35px;
	}
	.menu-info {
		margin-left: 45px;
		margin-top: 3px;
		> {
			.control-sidebar-subheading {
				margin: 0;
			}
			p {
				margin: 0;
				font-size: 11px;
			}
		}
	}
	.progress {
		margin: 0;
	}
}

.control-sidebar-dark {
	color: $color_heather_approx;
	background: $color_shark_approx;
	+ .control-sidebar-bg {
		background: $color_shark_approx;
	}
	.nav-tabs.control-sidebar-tabs {
		border-bottom: $color_shark_approx;
		> li {
			> a {
				background: $color_mirage_approx;
				color: $color_heather_approx;
				border-left-color: $color_aztec_approx;
				border-bottom-color: $color_aztec_approx;
				&:hover, &:focus {
					border-left-color: $color_aztec_approx;
					border-bottom-color: $color_aztec_approx;
				}
				&:hover, &:focus, &:active {
					background: $color_shark_approx;
				}
				&:hover {
					color: $white;
				}
			}
			&.active > a {
				background: $color_shark_approx;
				color: $white;
				&:hover, &:focus, &:active {
					background: $color_shark_approx;
					color: $white;
				}
			}
		}
	}
	.control-sidebar-heading, .control-sidebar-subheading {
		color: $white;
	}
	.control-sidebar-menu > li > a {
		&:hover {
			background: $color_shark_approx;
		}
		.menu-info > p {
			color: $color_heather_approx;
		}
	}
}

.control-sidebar-light {
	color: $color_chicago_approx;
	background: $color_alabaster_approx;
	border-left: 1px solid $color_mischka_approx;
	+ .control-sidebar-bg {
		background: $color_alabaster_approx;
		border-left: 1px solid $color_mischka_approx;
	}
	.nav-tabs.control-sidebar-tabs {
		border-bottom: $color_mischka_approx;
		> li {
			> a {
				background: $color_athens_gray_approx;
				color: $color_tundora_approx;
				border-left-color: $color_mischka_approx;
				border-bottom-color: $color_mischka_approx;
				&:hover, &:focus {
					border-left-color: $color_mischka_approx;
					border-bottom-color: $color_mischka_approx;
				}
				&:hover, &:focus, &:active {
					background: $color_porcelain_approx;
				}
			}
			&.active > a {
				background: $color_alabaster_approx;
				color: $color_woodsmoke_approx;
				&:hover, &:focus, &:active {
					background: $color_alabaster_approx;
					color: $color_woodsmoke_approx;
				}
			}
		}
	}
	.control-sidebar-heading, .control-sidebar-subheading {
		color: $color_woodsmoke_approx;
	}
	.control-sidebar-menu {
		margin-left: -14px;
		> li > a {
			&:hover {
				background: $color_wild_sand_approx;
			}
			.menu-info > p {
				color: $color_chicago_approx;
			}
		}
	}
}

/*
 * Component: Dropdown menus
 * -------------------------
 */

.dropdown-menu {
	box-shadow: none;
	border-color: $color_gallery_approx;
	> {
		li > a {
			color: $color_tapa_approx;
			> {
				.glyphicon, .fa, .ion {
					width: 20px;
				}
			}
			&:hover {
				background-color: $color_mercury_approx;
				color: $color_mine_shaft_approx;
			}
		}
		.divider {
			background-color: $color_gallery_approx;
		}
	}
}

.navbar-nav > {
	.notifications-menu > .dropdown-menu, .messages-menu > .dropdown-menu, .tasks-menu > .dropdown-menu {
		width: 280px;
		padding: 0 0 0 0;
		margin: 0;
		top: 100%;
	}
	.notifications-menu > .dropdown-menu > li, .messages-menu > .dropdown-menu > li, .tasks-menu > .dropdown-menu > li {
		position: relative;
	}
	.notifications-menu > .dropdown-menu > li.header, .messages-menu > .dropdown-menu > li.header, .tasks-menu > .dropdown-menu > li.header {
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
		background-color: $white;
		padding: 7px 10px;
		border-bottom: 1px solid $wild_sand;
		color: $color_tundora_approx;
		font-size: 14px;
	}
	.notifications-menu > .dropdown-menu > li.footer > a, .messages-menu > .dropdown-menu > li.footer > a, .tasks-menu > .dropdown-menu > li.footer > a {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		font-size: 12px;
		background-color: $white;
		padding: 7px 10px;
		border-bottom: 1px solid $color_gallery_approx;
		color: $color_tundora_approx !important;
		text-align: center;
	}
	.notifications-menu > .dropdown-menu > li.footer > a:hover, .messages-menu > .dropdown-menu > li.footer > a:hover, .tasks-menu > .dropdown-menu > li.footer > a:hover {
		text-decoration: none;
		font-weight: normal;
	}
	.notifications-menu > .dropdown-menu > li .menu, .messages-menu > .dropdown-menu > li .menu, .tasks-menu > .dropdown-menu > li .menu {
		max-height: 200px;
		margin: 0;
		padding: 0;
		list-style: none;
		overflow-x: hidden;
	}
	.notifications-menu > .dropdown-menu > li .menu > li > a, .messages-menu > .dropdown-menu > li .menu > li > a, .tasks-menu > .dropdown-menu > li .menu > li > a {
		display: block;
		white-space: nowrap;
		/* Prevent text from breaking */
		border-bottom: 1px solid $wild_sand;
	}
	.notifications-menu > .dropdown-menu > li .menu > li > a:hover, .messages-menu > .dropdown-menu > li .menu > li > a:hover, .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
		background: $wild_sand;
		text-decoration: none;
	}
	.notifications-menu > .dropdown-menu > li .menu > li > a {
		color: $color_tundora_approx;
		overflow: hidden;
		text-overflow: ellipsis;
		padding: 10px;
		> {
			.glyphicon, .fa, .ion {
				width: 20px;
			}
		}
	}
	.messages-menu > .dropdown-menu > li .menu > li > a {
		margin: 0;
		padding: 10px 10px;
		> {
			div > img {
				margin: auto 10px auto auto;
				width: 40px;
				height: 40px;
			}
			h4 {
				padding: 0;
				margin: 0 0 0 45px;
				color: $color_tundora_approx;
				font-size: 15px;
				position: relative;
				> small {
					color: $color_mountain_mist_approx;
					font-size: 10px;
					position: absolute;
					top: 0;
					right: 0;
				}
			}
			p {
				margin: 0 0 0 45px;
				font-size: 12px;
				color: $color_suva_gray_approx;
			}
		}
		&:before {
			content: " ";
			display: table;
		}
		&:after {
			content: " ";
			display: table;
			clear: both;
		}
	}
	.tasks-menu > .dropdown-menu > li .menu > li > a {
		padding: 10px;
		> {
			h3 {
				font-size: 14px;
				padding: 0;
				margin: 0 0 10px 0;
				color: $color_storm_dust_approx;
			}
			.progress {
				padding: 0;
				margin: 0;
			}
		}
	}
	.user-menu {
		> .dropdown-menu {
			border-top-right-radius: 0;
			border-top-left-radius: 0;
			padding: 1px 0 0 0;
			border-top-width: 0;
			width: 280px;
			border-bottom-right-radius: 4px;
			border-bottom-left-radius: 4px;
			> {
				.user-body {
					border-bottom-right-radius: 4px;
					border-bottom-left-radius: 4px;
				}
				li.user-header {
					height: 175px;
					padding: 10px;
					text-align: center;
					> {
						img {
							z-index: 5;
							height: 90px;
							width: 90px;
							border: 3px solid;
							border-color: transparent;
							border-color: $white_20;
						}
						p {
							z-index: 5;
							color: $white;
							color: $white_80;
							font-size: 17px;
							margin-top: 10px;
							> small {
								display: block;
								font-size: 12px;
							}
						}
					}
				}
				.user-body {
					padding: 15px;
					border-bottom: 1px solid $wild_sand;
					border-top: 1px solid $color_alto_approx;
					&:before {
						content: " ";
						display: table;
					}
					&:after {
						content: " ";
						display: table;
						clear: both;
					}
					a {
						color: $color_tundora_approx !important;
					}
				}
				.user-footer {
					background-color: $color_alabaster_approx;
					padding: 10px;
					&:before {
						content: " ";
						display: table;
					}
					&:after {
						content: " ";
						display: table;
						clear: both;
					}
					.btn-default {
						color: $color_storm_dust_approx;
					}
				}
			}
		}
		.user-image {
			float: left;
			width: 25px;
			height: 25px;
			border-radius: 50%;
			margin-right: 10px;
			margin-top: -2px;
		}
	}
}

@media (max-width: 991px) {
	.navbar-nav > {
		.notifications-menu > .dropdown-menu > li.footer > a, .messages-menu > .dropdown-menu > li.footer > a, .tasks-menu > .dropdown-menu > li.footer > a {
			background: $white !important;
			color: $color_tundora_approx !important;
		}
	}
}

@media (max-width: 991px) {
	.navbar-nav > .user-menu > .dropdown-menu > .user-body a {
		background: $white !important;
		color: $color_tundora_approx !important;
	}
}

@media (max-width: 991px) {
	.navbar-nav > .user-menu > .dropdown-menu > .user-footer .btn-default:hover {
		background-color: $color_alabaster_approx;
	}
}

@media (max-width: 767px) {
	.navbar-nav > .user-menu .user-image {
		float: none;
		margin-right: 0;
		margin-top: -8px;
		line-height: 10px;
	}
}

/* Add fade animation to dropdown menus by appending
 the class .animated-dropdown-menu to the .dropdown-menu ul (or ol)*/

.open:not(.dropup) > .animated-dropdown-menu {
	backface-visibility: visible !important;
	-webkit-animation: flipInX 0.7s both;
	-o-animation: flipInX 0.7s both;
	animation: flipInX 0.7s both;
}

@keyframes flipInX {
	0% {
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transition-timing-function: ease-in;
	}

	60% {
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		transform: perspective(400px);
	}
}


@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		opacity: 0;
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1;
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
	}

	100% {
		-webkit-transform: perspective(400px);
	}
}


/* Fix dropdown menu in navbars */

.navbar-custom-menu > .navbar-nav > li {
	position: relative;
	> .dropdown-menu {
		position: absolute;
		right: 0;
		left: auto;
	}
}

@media (max-width: 991px) {
	.navbar-custom-menu > .navbar-nav {
		float: right;
		> li {
			position: static;
			> .dropdown-menu {
				position: absolute;
				right: 5%;
				left: auto;
				border: 1px solid $color_alto_approx;
				background: $white;
			}
		}
	}
}


/*
 * Component: Nav
 * --------------
 */

.nav > li > a {
	&:hover, &:active, &:focus {
		color: $color_tundora_approx;
		background: $color_black_haze_approx;
	}
}

/* NAV TABS */
.nav-tabs-custom {
	margin-bottom: 20px;
	background: $white;
	box-shadow: 0 1px 1px $black_10;
	border-radius: 3px;
	> {
		.nav-tabs {
			margin: 0;
			border-bottom-color: $wild_sand;
			border-top-right-radius: 3px;
			border-top-left-radius: 3px;
			> li {
				border-top: 3px solid transparent;
				margin-bottom: -2px;
				margin-right: 5px;
				> a {
					color: $color_tundora_approx;
					border-radius: 0;
					&.text-muted {
						color: $color_mountain_mist_approx;
					}
					background: transparent;
					margin: 0;
					&:hover {
						background: transparent;
						margin: 0;
						color: $color_mountain_mist_approx;
					}
				}
				&:not(.active) > a {
					&:hover, &:focus, &:active {
						border-color: transparent;
					}
				}
				&.active {
					border-top-color: $color_boston_blue_approx;
					> a, &:hover > a {
						background-color: $white;
						color: $color_tundora_approx;
					}
					> a {
						border-top-color: transparent;
						border-left-color: $wild_sand;
						border-right-color: $wild_sand;
					}
				}
				&:first-of-type {
					margin-left: 0;
					&.active > a {
						border-left-color: transparent;
					}
				}
			}
			&.pull-right {
				float: none !important;
				> li {
					float: right;
					&:first-of-type {
						margin-right: 0;
						> a {
							border-left-width: 1px;
						}
						&.active > a {
							border-left-color: $wild_sand;
							border-right-color: transparent;
						}
					}
				}
			}
			> li.header {
				line-height: 35px;
				padding: 0 10px;
				font-size: 20px;
				color: $color_tundora_approx;
				> {
					.fa, .glyphicon, .ion {
						margin-right: 5px;
					}
				}
			}
		}
		.tab-content {
			background: $white;
			padding: 10px;
			border-bottom-right-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}
	.dropdown.open > a {
		&:active, &:focus {
			background: transparent;
			color: $color_mountain_mist_approx;
		}
	}
	&.tab-primary > .nav-tabs > li.active {
		border-top-color: $color_boston_blue_approx;
	}
	&.tab-info > .nav-tabs > li.active {
		border-top-color: $color_robins_egg_blue_approx;
	}
	&.tab-danger > .nav-tabs > li.active {
		border-top-color: $color_valencia_approx;
	}
	&.tab-warning > .nav-tabs > li.active {
		border-top-color: $color_tree_poppy_approx;
	}
	&.tab-success > .nav-tabs > li.active {
		border-top-color: $color_green_haze_approx;
	}
	&.tab-default > .nav-tabs > li.active {
		border-top-color: $color_mischka_approx;
	}
}

/* PAGINATION */
.pagination {
	> li > a {
		background: $alabaster;
		color: $color_storm_dust_approx;
	}
	&.pagination-flat > li > a {
		border-radius: 0 !important;
	}
}

