<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" xmlns="http://logging.apache.org/log4j/2.0/config"  schema="Log4J-V2.0.xsd">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %X{MDC_PRINCIPAL} %X{MDC_TRACKING_ID} %-5level %logger{36} Message:%msg%n" />
		</Console>
		<RollingFile name="appFileAppender" fileName="logs/app.log" 
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}\t[%t]\t%X{MDC_PRINCIPAL}\t%X{MDC_TRACKING_ID}\t%-5level\t%logger{36}\tMessage:%msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<RollingFile name="auditFileAppender" fileName="logs/audit.log" 
			filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS}\t[%t]\t%X{MDC_PRINCIPAL}\t%X{MDC_TRACKING_ID}\t%-5level\t%logger{36}\tMessage:%msg%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="50 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<Async name="asyncAppFileAppender">
			<AppenderRef ref="appFileAppender" />
		</Async>
		<Async name="asyncAuditFileAppender">
			<AppenderRef ref="auditFileAppender" />
		</Async>
		<Routing name="routingAppender">
			<Routes>
				<Script name="RoutingInit" language="JavaScript">
					<![CDATA[
						if (logEvent.getMarker() != null && logEvent.getMarker().isInstanceOf("Audit")) {
							return "Audit";
						} 
						return "Application";
					]]>
				</Script>
				<Route ref="asyncAuditFileAppender" key="Audit" />
				<Route ref="asyncAppFileAppender" key="Application" />
			</Routes>
			<IdlePurgePolicy timeToLive="15" timeUnit="minutes" />
		</Routing>
	</Appenders>
	<Loggers>

		<Logger name="org.ancloud.fw.tracking" level="TRACE" />
		<Logger name="org.ancloud" level="DEBUG" />
		<Logger name="org.hibernate.SQL" level="TRACE" />
		<Logger name="org.hibernate.type" level="TRACE" />

		<Root level="DEBUG">
			<AppenderRef ref="console" />
			<AppenderRef ref="asyncAppFileAppender" />
		</Root>
	</Loggers>
</Configuration>
