<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- Application Loggers -->
		<Logger name="org.bluebird" level="All" />
		
		<!-- 3rdparty Loggers -->
		<Logger name="org.springframework.core" level="info" />

		<Logger name="org.springframework.beans" level="info" />

		<Logger name="org.springframework.context" level="info" />

		<Logger name="org.springframework.web" level="info" />
		
		<Logger name="org.springframework.security" level="debug" />

		<logger name="org.flyway.core.api.migration" level="info" />

		<logger name="org.hibernate.stat" level="info" />
		
		<logger name="org.hibernate.sql" level="info" />
		
		<logger name="org.hibernate.jpa" level="info" />
		
		<logger name="org.hibernate.tool.hbm2ddl" level="info" />
		
		<logger name="org.hibernate" level="debug" />
		<Root level="info">
			<AppenderRef ref="console" />
		</Root>
	</Loggers>
</Configuration>
