/* Grapefruit */
.grapefruit-light {background-color:#ED5565;}
.grapefruit-dark {background-color:#DA4453;}

/* Bittersweet */
.bittersweet-light {background-color:#FC6E51;}
.bittersweet-dark {background-color:#E9573F;}

/* Sunflower */
.sunflower-light {background-color:#FFCE54;}
.sunflower-dark {background-color:#F6BB42;}

/* Grass */
.grass-light {background-color:#A0D468;}
.grass-dark {background-color:#8CC152;}

/* Mint */
.mint-light {background-color:#48CFAD;}
.mint-dark {background-color:#37BC9B;}

/* Aqua */
.aqua-light {background-color:#4FC1E9;}
.aqua-dark {background-color:#3BAFDA;}

/* Blue Jeans */
.blueJeans-light {background-color:#5D9CEC;}
.blueJeans-dark {background-color:#4A89DC;}

/* Lavander */
.lavander-light {background-color:#AC92EC;}
.lavander-dark {background-color:#967ADC;}

/* Pink Rose */
.pinkRose-light {background-color:#EC87C0;}
.pinkRose-dark {background-color:#D770AD;}

/* Light Gray */
.lightGray-light {background-color:#F5F7FA;}
.lightGray-dark {background-color:#E6E9ED;}

/* Medium Gray */
.mediumGray-light {background-color:#CCD1D9;}
.mediumGray-dark {background-color:#AAB2BD;}

/* Dark Gray */
.darkGray-light {background-color:#656D78;}
.darkGray-dark {background-color:#434A54;}