/*
 * Helpers
 * ----------------------
 */
.pad {
    padding: 10px;
}
.margin {
    margin: 10px;
}
.margin-bottom {
    margin-bottom: 20px;
}
.margin-bottom-none {
    margin-bottom: 0;
}
.margin-r-5 {
    margin-right: 5px;
}
.inline {
    display: inline;
}
.hide {
    display: none !important;
}
.no-border {
    border: 0 !important;
}
.no-padding {
    padding: 0 !important;
}
.no-margin {
    margin: 0 !important;
}
.no-shadow {
    box-shadow: none !important;
}
.flat {
    border-radius: 0 !important;
}
.uppercase {
    text-transform: uppercase;
}