.list-unstyled {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-group-unbordered > .list-group-item:first-child {
    border-top: 0;
}

.list-group-unbordered > .list-group-item:last-child {
    border-bottom: 0;
}

.list-group-unbordered > .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
}