//colors
$white: rgba(255, 255, 255, 1);
$color_tundora_approx: rgba(68, 68, 68, 1);
$color_alabaster_approx: rgba(249, 249, 249, 1);
$color_alto_approx: rgba(221, 221, 221, 1);
$black_50: rgba(0, 0, 0, 0.5);
$slate_gray: rgba(112, 128, 144, 1);
$color_pattens_blue_approx: rgba(217, 236, 255, 1);
$color_boston_blue_approx: rgba(60, 141, 188, 1);
$color_glacier_approx: rgba(114, 175, 210, 1);
$white_20: rgba(255, 255, 255, 0.2);
$black_10: rgba(0, 0, 0, 0.1);
$white_90: rgba(255, 255, 255, 0.9);
$color_celeste_approx: rgba(204, 204, 204, 1);
$color_mischka_approx: rgba(210, 214, 222, 1);
$color_heather_approx: rgba(184, 199, 206, 1);
$color_shark_approx: rgba(34, 45, 50, 1);
$color_mirage_approx: rgba(24, 31, 35, 1);
$color_aztec_approx: rgba(20, 26, 29, 1);
$color_chicago_approx: rgba(94, 94, 94, 1);
$color_athens_gray_approx: rgba(232, 236, 244, 1);
$color_porcelain_approx: rgba(239, 241, 247, 1);
$color_woodsmoke_approx: rgba(17, 17, 17, 1);
$color_wild_sand_approx: rgba(244, 244, 245, 1);
$color_gallery_approx: rgba(238, 238, 238, 1);
$color_tapa_approx: rgba(119, 119, 119, 1);
$color_mercury_approx: rgba(225, 227, 233, 1);
$color_mine_shaft_approx: rgba(51, 51, 51, 1);
$wild_sand: rgba(244, 244, 244, 1);
$color_mountain_mist_approx: rgba(153, 153, 153, 1);
$color_suva_gray_approx: rgba(136, 136, 136, 1);
$color_storm_dust_approx: rgba(102, 102, 102, 1);
$white_80: rgba(255, 255, 255, 0.8);
$color_black_haze_approx: rgba(247, 247, 247, 1);
$color_robins_egg_blue_approx: rgba(0, 192, 239, 1);
$color_valencia_approx: rgba(221, 75, 57, 1);
$color_tree_poppy_approx: rgba(243, 156, 18, 1);
$color_green_haze_approx: rgba(0, 166, 90, 1);
$alabaster: rgba(250, 250, 250, 1);